/* Reset básico */
body {
    font-family: Avenir, Verdana, Arial;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* Cabeçalho */
header {
    background-color: #004080;
    color: white;
    padding: 20px;
}

/* Seção principal */
.categories {
    margin-top: 50px;
}

/* Botões estilizados */
.button {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    background-color: #bdddff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.3s;
}

.button:hover {
    background-color: #6db1fa;
}

.return-button {
    font-size: 0.9em;
    background-color: #555; /* Cinza escuro para diferenciar */
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.return-button:hover {
    background-color: #777;
}

/* Rodapé */
footer {
    margin-top: 50px;
    font-size: 14px;
    color: #333;
}

/* Estilo para o corpo da página */
body {
    background-image: url('imagens/fundo.jpg'); /* Caminho para a sua imagem */
    background-size: cover; /* A imagem vai cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* A imagem ficará fixa enquanto a página rola */
    height: 100vh; /* Garantir que a altura do fundo ocupe toda a altura da tela */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
}

/* Links dentro do arquivos.html */
.file-link {
    color: #fff64d;  /* Escolha a cor desejada */
    text-decoration: none;
    font-weight: bold;
}

.file-link:hover {
    color: #ff5555;  /* Cor ao passar o mouse */
    text-decoration: underline;
}

/* Remove os marcadores da lista */
ul {
    list-style-type: none;
    padding-left: 0;
}

/* Centraliza os botões e links */
ul li {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin: 10px 0; /* Adiciona espaçamento entre os itens */
}